extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Anna Foldvari
      
        p.lead.text-light
          | Full Stack JavaScript Developer.
      
        .portfolio-bio
          p
            |I enjoy learning and building new things. I am passionate about building carefully-crafted, responsive websites and applications. I enjoy solving problems and creating outstanding user experiences. I believe collaborative work delivers the best result and I am proud of my co-operative ethos when it comes to working with others.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li HTML
          li CSS
          li JavaScipt
          li Node.js
          li Express
          li jQuery
          li Wordpress 
          li PHP
          li GIT
        h6 Contact Info

      
        ul
          li annafoldvari (at) gmx.co.uk

        a.button.expanded(href='https://www.linkedin.com/in/anna-foldvari-08aba1133/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/annafoldvari' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/AnnaFoldvari' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  